footer {
  font-size: .95em;
  padding: 1.5em 0 .5em;

  a {
    color: $color-blue-dark;

    &:hover {
      color: $color-blue-medium;
    }
  }

  @media all and (max-width: 1130px) {
    display: none;
  }
}
