button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}

* {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding: 0;
	margin: 0;
  text-decoration: none;
}

html {
	font-size: 16px;
	height: 100%;
}

body {
  font-size: 16px;
  color: $color-black;
  height: 93%;
  font-family: 'Cutive Mono', monospace;
  max-width: 1280px;
  margin: 0 auto;
  padding: 3em 3%;
}

::selection {
  background: $color-blue-light; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $color-blue-light; /* Gecko Browsers */
}

button {
  color: $color-white;
  background-color: $color-blue-medium;
  padding: 1em;
  border: 1px solid transparent;
  cursor: pointer;
	width: 50%;
  outline: 1px solid transparent;
	user-select: none;

  &:hover {
    background-color: $color-blue-light;
  }

	&.inactive {
		pointer-events: none;
		background-color: $color-grey;
	}
}
